<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Hibernate_Servelet_LoginFunctionality</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>

	</welcome-file-list>

	<servlet>
		<servlet-name>signIn1</servlet-name>

		<servlet-class>om.tech.SignIn</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>signIn1</servlet-name>
		<url-pattern>/SignIn</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Regester1</servlet-name>
		<servlet-class>om.tech.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Regester1</servlet-name>
		<url-pattern>/regester</url-pattern>
	</servlet-mapping> 
	
	
	<servlet>
		<servlet-name>Login1</servlet-name>
		<servlet-class>om.tech.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login1</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping> 
	
	

<servlet>
		<servlet-name>GetAll</servlet-name>
		<servlet-class>om.tech.GetAllData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAll</servlet-name>
		<url-pattern>/getAll</url-pattern>
	</servlet-mapping> 


<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>om.tech.DeleteStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping> 


</web-app>